@media only screen and (min-width: 100vw) {
/**
***  Navigation
**/
  body {
    background-color: #272822;
    font-family: Monospace;
  }

  #top-nav {
    background-color: #131111;
    height: 2.5em;
    padding-top: 1.5em;
  }

  nav {
    display: flex;
    flex-wrap: no-wrap;
    margin-top: 2em;
  }

  .logo {
    color: #f92672;
    letter-spacing: -.15em;
    width: 100%;
    padding-left: .5em;
  }

  .tabs {
    background-color: rgb(39, 40, 34);
    color: white;
    font-size: 1.25em;
    margin-top: -.05em;
    display: inline;
  }

  .tabs:hover {
    background-color: white;
    color: rgb(39, 40, 34);
  }
  
  .tabs:focus, .tabs:active {
  box-shadow: none !important;
  }

  .fa-bars {
    display: none;
  }
  
  .subl-class-blue {
    color: #66D9EF;
  }
  
  button:focus {
    outline:0 !important;
  }
  
/**
*** Body
**/
  
/**
*** About
**/
  .main-about {
    color: rgb(256,256,256);
    margin: 9em 1em 1em 1em;
  }
  
  .subl-class {
    color: #A6E22E;
  }
  
  .skill {
    marign-bottom: 1.5em;
  }
  
  .hr-code {
    margin: 1em;
  }
  
/**
*** Portfolio
**/
  
  .main-portfolio {
    color: rgb(256,256,256);
    margin: 9em 1em 1em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
  }
  
  .image-rounded {
    border-radius: 10%;
  }
  
/**
*** Contact
**/
  
  .main-contact {
    margin: 9em 1em 1em 1em;
    display: none;
  }
  
  label {
    color: white;
  }
  
  .form-control {
    width: 80%;
    margin-bottom: 1em;
  }  
}

/**
*** Mobile && Tablet
**/

@media only screen and (max-width: 684px) {
  
  body {
  background-color: #272822;
  font-family: Monospace;
  }
  
  nav {
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .logo {
    width: 90%;
    margin-left: -.5em;
  }
  
  .tabs {
    display: none;
    font-size: 1em;
    margin-top: .5em;
  }
  
  .tabs-about {
    margin-left: 1em;
  }
  
  .fa-bars {
    color: white;
    padding-top: .26em;
    display: inline;
  }
}

@media only screen and (max-width: 543px) {
  
  .logo {
    width: 80%;
  }
  
  .form-control {
    width: 100%;
  }
}

@media only screen and (max-width: 331px) {
  .tabs {
    font-size: .9em;
  }
  
  .logo {
    width: 80%; 
  }
}