body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

nav {
  background-color: #262933;
  color: white;
  position: fixed;
  width: 100%;
  padding: .8em;
}

#name {
  display: inline;
  font-size: 2em;
}

.fa-bars {
  float: right;
  margin-top: .23em;
}

#nav-links {
  display: none;
}

#home {
  background: linear-gradient(
              rgba(38, 41, 51, .9), 
              rgba(38, 41, 51, .9)
              ),
              url("../images/orlando-pan-hi.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: 100vh;
  padding-top: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#brandon {
  color: #F35724;
}

@media only screen and (min-width: 431px) {
  #name {
    float: left;
  }

  .fa-bars {
    display: none;
  }

  #logo-nav {
    display: inline;
  }

  #nav-links {
    display: inline;
    float: left;
    margin-top: .7em;
    width: 91%;
    text-align: center;

  }

  #nav-links p {
    display: inline;
    margin: 0em 1em;
  }
}